

### folders
.vscode
.idea
test
scripts
src
.nyc_output
coverage

### matching
*.txt
*.md
*.json
*.yml
*.log
*.sh

### files
Dockerfile*
suman.conf.js
.editorconfig
.babelrc
.npmrc
.npmignore
.gitignore
yarn.lock

