### folders
node_modules
.idea
test
scripts
src

### matching
*.sh
*.txt
*.md
*.ts
*.json
*.yml
*.log

### files
suman.conf.js
.editorconfig
.babelrc
.npmignore
.gitignore
yarn.lock

### negation
!*.d.ts
